$palete-dark: #332B2F;
$palete-light: #fff;
$palete-light-second: #f1f0f0;
$palete-base: #FF007A;
$radius: 8px;

$famaly: 'Raleway',
sans-serif;

$font-s: 14px;
$font-m: 16px;
$font-x: 24px;

$transition: .3s ease-out;
